body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.todo-area{
    border: 2px ridge whitesmoke;
}
i{
    color: whitesmoke;
}
.btn{
    background-color: black;
    color: whitesmoke;
}
.author{
    display:none;
}

.quote-content:hover{
    cursor:pointer;
}
.quote-content:hover .author{
    display:block;
}
.weather{
    background-color: rgba(0, 0, 0, 0.295);
    color:whitesmoke;
    border: 2px ridge whitesmoke;
    border-radius: 20px;
}
.footer{
    position:fixed;
    bottom: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.295);
    color:whitesmoke;
}
.time{
    display: inline-block;
    margin-top: 10%;
    margin-left: 30%;
    border: 2px ridge whitesmoke;
    border-radius: 30px;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.time h1{
    font-size: 80px;
}
.colon{
    width: 20px;
    display: inline-block;
    
}
.hours{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.minutes{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.seconds{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.time-of-day{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 130px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.add{
    background:black;
    color:whitesmoke;
    outline:none;
}
.next-image{
    height: 15px;
    margin-bottom: 3px;
    border:none;
}
.next-image button{
    background-color: rgba(0, 0, 0, 0.295);
    color:whitesmoke;
    border:none;
    outline:none;
}
