/* flex grid */
.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.v-center {
    align-items: center;
}

.flex.v-bottom {
    align-items: flex-end;
}

.flex.v-top {
    align-items: flex-start;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-left {
    justify-content: left;
}

.flex.h-right {
    justify-content: right;
}

.flex.h-space-between {
    justify-content: space-between;
}

.flex.text-wrap {
    flex-wrap: wrap;
    word-break: break-all;
}
.bottom-wrapper {
    height: 20vh;
}
/*  */
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.item-background {
    background: rgba(0, 0, 0, 0.555);
    opacity: 0.85;
}

.btn{
    background-color: black;
    color: white;
}
.author{
    display:none;
}

.quote-content:hover{
    cursor:pointer;
}
.quote-content:hover .author{
    display:block;
}
.weather{
    background: rgba(0, 0, 0, 0.555);
    opacity: 0.85;
    color:whitesmoke;
    border: 2px ridge whitesmoke;
    border-radius: 20px;
}
.footer{
    position:fixed;
    width:100%;
    bottom: 0;
    color:white;
}
.delete-all-btn {
    margin-left: 3em;
}
.time{
    display: inline-block;
    margin-top: 10%;
    margin-left: 30%;
    border: 2px ridge whitesmoke;
    border-radius: 30px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.555);
    opacity: 0.85;
    color: whitesmoke;
}
.time h1{
    font-size: 80px;
}
.colon{
    width: 20px;
    display: inline-block;
    
}
.hours{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.minutes{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.seconds{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.time-of-day{
    border: 4px ridge whitesmoke;
    border-radius: 20px;
    display: inline-block;
    width: 130px;
    background-color:rgba(0, 0, 0, 0.295);
    color: whitesmoke;
}
.todo-wrapper {
    font-size: 1em;
    max-height: 25em;
    padding: 2em;
    overflow-y: scroll;
}

.form-control {
    color: #fff;
    background: #000;
}
.list-items {
    color: white;
}
.next-image{
    height: 15px;
    margin-bottom: 2em;
    border:none;
}
.next-image button{
    background-color: rgba(0, 0, 0, 0.295);
    color:whitesmoke;
    border:none;
    outline:none;
}
